## Описание проекта

Этот набор данных состоит из данных о размещении студентов в кампусе XYZ.
Он включает среднюю и высшую среднюю школу и специализацию. Он также включает специализацию по степени, тип и опыт работы,
а также предложения по заработной плате для размещенных студентов.

[Ссылка на kaggle](https://www.kaggle.com/datasets/benroshan/factors-affecting-campus-placement)

## Цель исследования

- Какой фактор повлиял на кандидата при трудоустройстве?
- Важен ли высокий процентаж для того, чтобы получить работу?
- Какая научная степень более востребована?
- Играйте с данными, проводя все статистические тесты.

## Описание данных

| Название колонки |                             Описание                             |
|:----------------:|:----------------------------------------------------------------:|
|      sl_no       |                          Серийный номер                          |
|      gender      |                 Пол - Мужчина='M', Женщина ='F'                  |
|      ssc_p       |     Процентное соотношение среднего образования - 10-й класс     |
|      ssc_b       | Совет по образованию (Board of Education) - Центральный/ Другие  |
|      shc_p       | Процентное соотношение высшего среднего образования - 12-й класс |
|      hsc_s       |       Специализация в области Высшего среднего образования       |
|     degree_p     |                       Степень В Процентах                        |
|     degree_t     |      Под выпуском (тип степени) - Область получения степени      |
|      workex      |                         Работал ли ранее                         |

In [1]:
import pandas as pd

import plotly.express as px

In [3]:
data = pd.read_csv('Placement_Data_Full_Class.csv')
data.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sl_no           215 non-null    int64
 1   gender          215 non-null    object
 2   ssc_p           215 non-null    float64
 3   ssc_b           215 non-null    object
 4   hsc_p           215 non-null    float64
 5   hsc_b           215 non-null    object
 6   hsc_s           215 non-null    object
 7   degree_p        215 non-null    float64
 8   degree_t        215 non-null    object
 9   workex          215 non-null    object
 10  etest_p         215 non-null    float64
 11  specialisation  215 non-null    object
 12  mba_p           215 non-null    float64
 13  status          215 non-null    object
 14  salary          148 non-null    float64
dtypes: float64(6), int64(1), object(8)
memory usage: 25.3+ KB