In [1]:
import numpy as np
import pandas as pd

import plotly.express as px
import plotly.graph_objects as go
import plotly.figure_factory as ff

Шаг 1. Загрузим данные и посмотрим на данные

In [3]:
try:
    contract = pd.read_csv('../data/contract.csv')
    internet = pd.read_csv('../data/internet.csv')
    personal = pd.read_csv('../data/personal.csv')
    phone = pd.read_csv('../data/phone.csv')
except:
    contract = pd.read_csv('/datasets/final_provider/contract.csv')
    internet = pd.read_csv('/datasets/final_provider/internet.csv')
    personal = pd.read_csv('/datasets/final_provider/personal.csv')
    phone = pd.read_csv('/datasets/final_provider/phone.csv')

data_list = [contract, internet, personal, phone]

In [7]:
for data in data_list:
    print('='*60)
    data.info()

============================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   BeginDate         7043 non-null   object
 2   EndDate           7043 non-null   object
 3   Type              7043 non-null   object
 4   PaperlessBilling  7043 non-null   object
 5   PaymentMethod     7043 non-null   object
 6   MonthlyCharges    7043 non-null   float64
 7   TotalCharges      7043 non-null   object
dtypes: float64(1), object(7)
memory usage: 440.3+ KB
============================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5517 entries, 0 to 5516
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        5517 non-null   object
 1   InternetService   5517 non-null   object
 2   OnlineSecurity    5517 non-null   object
 3   OnlineBackup      5517 non-null   object
 4   DeviceProtection  5517 non-null   object
 5   TechSupport       5517 non-null   object
 6   StreamingTV       5517 non-null   object
 7   StreamingMovies   5517 non-null   object
dtypes: object(8)
memory usage: 344.9+ KB
============================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerID     7043 non-null   object
 1   gender         7043 non-null   object
 2   SeniorCitizen  7043 non-null   int64
 3   Partner        7043 non-null   object
 4   Dependents     7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB
============================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6361 entries, 0 to 6360
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerID     6361 non-null   object
 1   MultipleLines  6361 non-null   object
dtypes: object(2)
memory usage: 99.5+ KB


В данных отсутствуют пропуски.

In [12]:
for data in data_list:
    display('='*60)
    display(data.sample(10))

'============================================================'

,customerID,BeginDate,EndDate,Type,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
4648,9717-QEBGU,2019-12-01,No,Month-to-month,Yes,Electronic check,70.30,144
2504,8433-WXGNA,2019-11-01,2020-01-01 00:00:00,Month-to-month,Yes,Electronic check,75.70,189.2
5617,0816-TSPHQ,2019-12-01,No,Month-to-month,No,Mailed check,20.75,44.2
997,1374-DMZUI,2019-09-01,2020-01-01 00:00:00,Month-to-month,Yes,Electronic check,94.30,424.45
33,7310-EGVHZ,2020-01-01,No,Month-to-month,No,Bank transfer (automatic),20.20,20.2
3255,4827-LTQRJ,2014-08-01,No,One year,Yes,Credit card (automatic),110.60,7210.85
2741,1724-BQUHA,2019-05-01,2019-10-01 00:00:00,Month-to-month,Yes,Electronic check,89.50,477.7
5776,4291-TPNFG,2014-02-01,No,Two year,Yes,Bank transfer (automatic),82.30,5980.55
974,0604-THJFP,2015-03-01,No,Two year,Yes,Credit card (automatic),75.95,4542.35
1742,5318-IXUZF,2019-10-01,2019-12-01 00:00:00,Month-to-month,Yes,Bank transfer (automatic),87.15,183.75

'============================================================'

,customerID,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
851,7030-NJVDP,Fiber optic,Yes,No,No,Yes,No,Yes
1402,2307-FYNNL,Fiber optic,Yes,No,Yes,Yes,Yes,Yes
3672,5760-FXFVO,Fiber optic,Yes,Yes,No,No,No,No
4169,5747-PMBSQ,Fiber optic,No,Yes,Yes,Yes,Yes,No
4967,6856-RAURS,Fiber optic,No,No,No,No,No,No
55,0526-SXDJP,DSL,Yes,Yes,Yes,No,No,No
1429,2085-BOJKI,Fiber optic,No,No,Yes,No,Yes,Yes
3022,4817-VYYWS,Fiber optic,No,Yes,No,No,Yes,Yes
4729,5349-IECLD,Fiber optic,No,No,Yes,No,Yes,Yes
5174,4662-EKDPQ,DSL,No,No,No,No,No,Yes

'============================================================'

      customerID  gender  SeniorCitizen Partner Dependents
3437  2746-DIJLO  Female              0      No         No
2708  8510-AWCXC  Female              1      No         No
2598  8325-QRPZR  Female              0      No         No
201   8544-GOQSH  Female              0      No         No
5910  0856-NAOES    Male              0      No         No
1979  2208-MPXIO  Female              0     Yes        Yes
3295  4900-MSOMT  Female              0     Yes        Yes
4884  2359-KLTEK  Female              0     Yes        Yes
6480  0939-EREMR  Female              0      No        Yes
2683  8128-YVJRG  Female              0      No         No

'============================================================'

      customerID MultipleLines
3787  6248-BSHKG            No
438   6778-YSNIH            No
596   4464-JCOLN            No
61    3410-YOQBQ            No
3055  3865-ZFZIB            No
5195  9648-BCHKM           Yes
3005  6061-PQHMK            No
4794  9479-HYNYL            No
6211  5906-CVLHP            No
2860  4236-XPXAV            No